@use "pkg:govuk-frontend" as govuk;

.app-side-navigation {
  @include govuk.govuk-font(19);

  @include govuk.govuk-media-query($until: tablet) {
    display: flex;
    overflow-x: scroll;
  }

  @include govuk.govuk-media-query($from: tablet) {
    display: block;
    padding: 0;
  }
}

.app-side-navigation__title {
  margin: 0;
  padding: govuk.govuk-spacing(2);
  padding-left: govuk.govuk-spacing(2) + 4px;
  color: govuk.govuk-colour("dark-grey");
  font-weight: normal;
  @include govuk.govuk-font($size: 19);

  @include govuk.govuk-media-query($until: tablet) {
    display: none;
  }
}

.app-side-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include govuk.govuk-media-query($until: tablet) {
    display: flex;
    margin: 0;
    white-space: nowrap;
  }

  @include govuk.govuk-media-query($from: tablet) {
    margin-bottom: govuk.govuk-spacing(4);
  }
}

.app-side-navigation__item {
  @include govuk.govuk-media-query($until: tablet) {
    display: flex;
  }

  a,
  a:link,
  a:visited {
    display: block;
    color: govuk.$govuk-link-colour;
    background-color: inherit;
    text-decoration: none;

    @include govuk.govuk-media-query($until: tablet) {
      padding: govuk.govuk-spacing(3);
      padding-bottom: govuk.govuk-spacing(3) - 4px;
      border-bottom: 4px solid transparent;
    }

    @include govuk.govuk-media-query($from: tablet) {
      padding: govuk.govuk-spacing(2);
      border-left: 4px solid transparent;
      background-color: inherit;
    }
  }

  a:hover {
    color: govuk.$govuk-link-hover-colour;
  }

  a:focus {
    position: relative;
    border-color: govuk.$govuk-focus-text-colour;
    color: govuk.$govuk-focus-text-colour;
    background-color: govuk.$govuk-focus-colour;
  }
}

.app-side-navigation__item--active {
  a:link,
  a:visited {
    border-color: govuk.$govuk-link-colour;
    color: govuk.$govuk-link-colour;
    font-weight: bold;
  }

  a:hover {
    border-color: govuk.$govuk-link-hover-colour;
    color: govuk.$govuk-link-hover-colour;
  }

  a:focus {
    border-color: govuk.$govuk-focus-text-colour;
    color: govuk.$govuk-focus-text-colour;
    background-color: govuk.$govuk-focus-colour;
  }

  @include govuk.govuk-media-query($from: tablet) {
    a:link,
    a:visited {
      background-color: govuk.govuk-colour("light-grey");
    }

    a:focus {
      color: govuk.$govuk-focus-text-colour;
      background-color: govuk.$govuk-focus-colour;
    }
  }
}
