@use "pkg:govuk-frontend" as govuk with (
  $govuk-assets-path: "@govuk/assets/",
  $govuk-global-styles: true
);

@use "../styles/borders";
@use "../styles/breadcrumbs";
@use "../styles/hero";
@use "../styles/image";
@use "../styles/inverted-button";
@use "../styles/masthead";
@use "../../components/metrics_summary_component";
@use "../../components/service_navigation_component";
@use "../styles/navigation";
@use "../styles/related-items";
@use "../styles/responsive-embed";
@use "../styles/sub-navigation";
@use "../styles/code-samples";

@media (min-width: 415px) {
  div.feature-row {
    display: flex;
    align-items: stretch;
  }

  div.feature-column {
    display: flex;
    align-items: stretch;
  }
}

div.feature-panel {
  text-align: left;
  border: 3px solid #f3f2f1;
  box-sizing: border-box;
}

@media (min-width: 769px) {
  div.feature-panel {
    min-height: 250px;
  }
}

@media (max-width: 768px) {
  div.feature-panel {
  }
  div.hero__aside-image {
    display: none;
  }
}

// scss-lint:disable IdSelector
#main-content {
  display: block;
  margin-bottom: govuk-spacing(9);
}

.hero-breadcrumb-banner {
  background-color: govuk.$govuk-brand-colour;
}

@media (max-width: 732px) {
  #index-hero-body {
    .govuk-button {
      margin-bottom: 12px;
    }
  }
}

@include govuk.govuk-media-query($from: tablet) {
  #index-hero-body {
    .govuk-button {
      margin-bottom: govuk.govuk-spacing(2);
      margin-right: govuk.govuk-spacing(1);
    }
  }
}

// scss-lint:disable IdSelector
#main-content {
  display: block;
  margin-bottom: govuk.govuk-spacing(9);
}

.hero-breadcrumb-banner {
  background-color: govuk.$govuk-brand-colour;
}
