@use "pkg:govuk-frontend" as govuk;

.breadcrumbs-hero {
  margin: 0 0 govuk.govuk-spacing(6);
  padding: govuk.govuk-spacing(2) 0;
  border-bottom: 1px solid govuk.govuk-colour('light-blue');

  .govuk-breadcrumbs__list-item:last-child a {
    font-weight: bold;
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: govuk.govuk-colour('white');
  }

  a:hover,
  a:active {
    color: govuk.govuk-colour('white');
  }

  a:focus {
    color:  govuk.$govuk-text-colour;
  }
}
