$app-code-font: ui-monospace, menlo, "Cascadia Mono", "Segoe UI Mono", consolas, "Liberation Mono", monospace;

pre code {
  display: block;
  margin: 0;
  padding: govuk-spacing(4);
  overflow-x: auto;
  border: $govuk-focus-width solid transparent;
  outline: 1px solid $govuk-border-colour;
  background-color: govuk-colour("light-grey");

  @include govuk-font-size($size: 19);
  @include govuk-responsive-margin(4, "bottom");
  @include govuk-typography-common($font-family: $app-code-font);

  &:focus {
    border: $govuk-focus-width solid $govuk-input-border-colour;
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }

}

pre .language-plaintext {
  white-space: pre-wrap;
}
