@use "pkg:govuk-frontend" as govuk;

.sub-navigation {
  margin-bottom: govuk.govuk-spacing(6);

  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    border-bottom: 1px govuk.$govuk-border-colour solid;
    display: block;
    padding: govuk.govuk-spacing(2) 0;

    @include govuk.govuk-font($size: 19);

    a:link {
      text-decoration: none;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__item--active {
    @include govuk.govuk-font($size: 19, $weight: bold);

    a:link,
    a:visited {
      color: govuk.$govuk-text-colour;
    }
  }
}
