<% set_page_title("How to create a good form using GOV.UK Forms") %>

<h1 class="govuk-heading-xl">How to create a good form using GOV.UK Forms</h1>

<h2 class="govuk-heading-l">Making sure a form is accessible</h2>

<p>
It’s important that government forms are accessible to everyone, including disabled people using assistive technologies.
</p>

<p>
When you create a form with GOV.UK Forms, you’re using designs which have been tested to make sure they meet government accessibility standards. But it’s still possible to create accessibility problems if you use GOV.UK Forms incorrectly.
</p>

<h3 class="govuk-heading-m">Asking questions in an accessible way</h3>

<p>
When you create a form, you’ll be asked what kind of answer you need for each question. Make sure you choose the right option: that way the browser knows what kind of answer to expect, and can help the user by filling in parts of the form automatically.
</p>

<p>
Avoid asking for the same information more than once within a form.
</p>

<p>
Use language that everyone who needs to complete the form will understand. Explain anything that’s not obvious — for example, by adding hint text or guidance to a question.
</p>

<h3 class="govuk-heading-m">Accessible links and headings</h3>

<p>
Use link text which tells the user what will happen if they follow the link, even if they’re reading it out of context. For example — ‘Find out more about GOV.UK Forms’. Avoid link text that does not make sense out of context — like ‘Click here’ or ‘Read more’.
</p>

<p>
Disabled users often rely on headings to help them navigate around a website page. So if you add a heading to a page in your form, make sure the heading reflects what’s underneath it. For example — to break up text that’s aimed at two different audiences, create two headings. Then put the text that’s aimed at each audience under the relevant heading — avoid ‘orphaning’ any text so it falls under the wrong heading.
</p>

<h2 class="govuk-heading-l">Linking to a form from the GOV.UK website</h2>

<p>
You’ll need a link to your form from the GOV.UK website so that people can find it.
</p>

<p>
The GOV.UK publishing team in your organisation will be able to advise on whether GOV.UK Forms is the best way to meet your needs — and how to link to the form. Talk to them about your requirements as soon as possible.
</p>

<h3 class="govuk-heading-m">If you’re in a GOV.UK publishing team</h3>

<p>
It’s possible to add a link from an existing ‘publication type:form’ page, but where possible we recommend linking to the form from a service-style starting point.
</p>

<p>
You can create a starting point using the ‘detailed guide’ format in Whitehall. <a class="govuk-link" href="https://www.gov.uk/guidance/close-your-mot-centre/">DVSA’s ‘Close your MOT centre’ page</a> is an example.
</p>

<p>
Use Markdown to create a green ‘Start now’ button:
</p>

<code tabindex="0" class="language-plaintext">{button start}[Button text goes here](https://submit.forms.service.gov.uk/form/first-page-of-form){/button}</code>

<p>
Use Markdown to create a green ‘Start now’ button:
</p>

<p>
If there’s a paper version of the form, you can add it as an attachment to the same detailed guide page — then unpublish and redirect the old ‘publication type:form’ page. That way you can avoid having more than one page meeting the same user need.
</p>

<h2 class="govuk-heading-l">Useful links</h2>

<a class="govuk-link" href="https://www.gov.uk/service-manual/design/form-structure">Structuring forms</a>
<a class="govuk-link" href="https://www.gov.uk/service-manual/design/writing-for-user-interfaces">Writing for user interfaces</a>
<a class="govuk-link" href="https://design-system.service.gov.uk/patterns/start-using-a-service/">Creating a starting point on the GOV.UK website</a>
<a class="govuk-link" href="https://www.gov.uk/service-manual/design/collecting-personal-information-from-users#tell-users-what-information-youre-collecting-and-what-youll-do-with-it)">Writing a privacy notice</a>
<a class="govuk-link" href="https://www.effortmark.co.uk/look-form-hurry/">How to check the quality of your form if you’re in a hurry</a>
