<% set_page_title('Forthcoming features') %>
<% set_page_description('The features we’re working on next and when we plan to release them. ') %>

<h1 class="govuk-heading-xl">Forthcoming features</h1>
<p>
  These are the features we’re working on next and approximately when we plan to release them.
</p>

<p>
  This information is just a guide. It’s not everything we’re doing, and things may move.
</p>

<p>
  We’ll update everyone with an account when we release new features. Or you can <%= govuk_link_to "sign up to our mailing list for updates", mailing_list_path %>.
</p>

<h2 class="govuk-heading-l">By June 2024</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Admin roles to give organisations more control over who can create, edit and make forms live in their organisation</li>
  <li>The ability to make groups of forms to easily manage access and editing permissions for the forms in that group</li>
</ul>

<h2 class="govuk-heading-l">By November 2024</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>The ability to receive form submissions in other formats - not just in the body of individual emails</li>  
  <li>Allowing people to give multiple responses to a question - for example to provide a history of home addresses</li>
  <li>Allowing people to upload files - for example, documents or photos</li>
  <li>‘Branching’ to give people a different set of questions depending on their answer to a previous question</li>
  <li>‘Exit pages’ to tell someone they cannot use the form after they’ve answered some qualifying questions</li>
</ul>

<h2 class="govuk-heading-l">After November 2024</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Allowing people to save their progress through a form and return later on</li>
  <li>More detailed metrics about a form’s performance and an integrated way to get feedback from people who fill in a form</li>
  <li>Previews of what each question will look like as you’re adding them to your form</li>
  <li>A history of previous versions of a form, and the ability to revert back to them</li>
  <li>Customisable branding so you can change the way forms look</li>
</ul>

<h2 class="govuk-heading-l">Further in the future</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Opening up use of GOV.UK Forms to the wider public sector</li>
  <li>Question templates so you can add common questions to a form even faster</li>
  <li>Taking payments via API - so you can collect payments part way through the journey through a form</li>
  <li>Form components in Welsh so you can make a Welsh language form</li>
</ul>

<p>
  There are many other features and iterations we know will be useful. We’ll update this page when we know when we’re likely to work on them.
</p>
