<% set_page_title("Get started") %>

<h1 class="govuk-heading-xl">Get started</h1>

<p>
  GOV.UK Forms is a new platform that makes it easy to create accessible online
  forms for the GOV.UK website.
</p>

<p>
  Because it’s still in the early stages of development,
  <%= govuk_link_to "the features available are limited", features_path %>.
  So it will not be suitable for creating all types of online form.
</p>

<h2 class="govuk-heading-l">Create an account to try it out</h2>

<p>
  If you’re from a central government organisation you can create an account to try GOV.UK Forms out and start making forms.
</p>

<p>
  Some departments are restricting who can create an account from their organisation. We’ll tell you if this affects you.
</p>

<p>
  You’ll need to use your government email address to create an account.
</p>

<%= govuk_start_button text: "Create an account", href: "#{Settings.forms_admin.base_url}/sign-up" %>

<h2 class="govuk-heading-l">Who can make forms live</h2>

<p>
When you first create an account, you’ll be able to create and preview forms but you will not be able to make forms live.
</p>

<p>
  You’ll only be able to make forms live if:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>you’re from a central government organisation that publishes content on the GOV.UK website</li>
  <li>someone from your organisation has agreed to a ‘Memorandum of Understanding’ with GOV.UK Forms</li>
  <li>you’ve been given permission to make forms live from your organisation’s GOV.UK Forms admin</li>
</ul>

<p>You’ll be able to get help with this process from your organisation’s GOV.UK Forms admin or from the GOV.UK Forms team.</p>

<h2 class="govuk-heading-l">Subscribe to updates about GOV.UK Forms</h2>

<p>
  If GOV.UK Forms doesn’t meet your needs yet, you can
  <%= govuk_link_to "subscribe to our mailing list", mailing_list_path %>
  to get updates about new features.
</p>

<h2 class="govuk-heading-l">Contact us</h2>

<p>
  If you have questions or feedback, <%= govuk_link_to "contact us", support_path %>.
</p>
