<% set_page_title('Create online forms for GOV.UK') %>

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body" id="index-hero-body">
        <h1 class="hero__title">Create online forms for GOV.UK</h1>

        <p class="hero__description">
          Create an accessible online form in minutes without needing technical knowledge.
        </p>

        <%= govuk_start_button text: "Find out if you can use GOV.UK Forms", href: get_started_path, classes: "app-button--inverted" %>

      </div>
      <div class="hero__aside-image">
        <img
          src="<%= vite_asset_path 'images/homepage-illustration.svg' %>"
          alt=""
          role="presentation"
          />
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div
    class="govuk-grid-row content-section govuk-!-margin-bottom-7 feature-row"
  >
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Easy to use</h2>
        <div class="govuk-body">
          Create online forms using a simple interface with no need for
          coding or design skills.
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Free</h2>
        <div class="govuk-body">
          GOV.UK Forms is free to use for central government.
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Fewer errors</h2>
        <div class="govuk-body">
          Form responses are automatically checked for missing answers or
          answers in the wrong format, so there’s less missing information and
          fewer errors compared to document-based forms like PDFs.
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Faster form processing</h2>
        <div class="govuk-body">
          Receiving completed forms digitally, with fewer errors, means
          processing is faster and easier compared to document-based forms like
          PDFs.
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Accessible forms</h2>
        <div class="govuk-body">
          GOV.UK Forms uses accessible GOV.UK templates to make it easy to meet
          public sector accessibility requirements.
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">See how well your forms are working</h2>
        <div class="govuk-body">
          Use simple metrics to see how many forms were submitted and what the completion rate was.
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-7 feature-row">
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Secure</h2>
        <div class="govuk-body">
          GOV.⁠UK Forms is designed to meet the latest government cyber security standards.
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half feature-column">
      <div class="govuk-panel feature-panel">
        <h2 class="govuk-heading-l">Protects data</h2>
        <div class="govuk-body">
          The GOV.UK Forms platform protects user data and helps you to comply
          with data protection regulations.
        </div>
      </div>
    </div>
  </div>

  <hr
    class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
  />

  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-one-half feature-column">
      <section class="content-section">
        <h2 class="govuk-heading-m content-section__first-heading">
          Find out more about GOV.UK Forms
        </h2>
        <p class="govuk-body">
          To find out more you can read about:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a
              class="govuk-link"
              href="/features"
              >how GOV.UK Forms works</a
            >
          </li>
          <li>
            <a
              class="govuk-link"
              href="https://gds.blog.gov.uk/2021/07/06/making-all-forms-on-gov-uk-accessible-easy-to-use-and-quick-to-process/"
              >the vision to make all forms on GOV.UK accessible, easy to use and quick to process</a
            >
          </li>
          <li>
            <a
              class="govuk-link"
              href="https://gds.blog.gov.uk/2021/11/17/why-we-think-online-html-forms-are-usually-better-than-document-based-forms-in-government/"
              >the problems with document-based forms</a
            >
          </li>
        </ul>
      </section>
    </div>

    <div class="govuk-grid-column-one-half feature-column">
      <section class="content-section">
        <h2 class="govuk-heading-m content-section__first-heading">
          The GOV.UK Forms team
        </h2>
        <p class="govuk-body">
          GOV.UK Forms is built by a team at the Government Digital
          Service. You can:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <%= govuk_link_to "contact us", support_path %>
            if you have a question or need help
          </li>
          <li>
            <%= govuk_link_to "subscribe to our mailing list", mailing_list_path %>
            to get updates about new features
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
