<% set_page_title('Privacy notice: how we use your data') %>

<h1 class="govuk-heading-xl">Privacy notice: how we use your data</h1>

<p>Last updated: 10 April 2024</p>

<p>
  GOV.UK Forms lets UK government teams create online forms to collect
  information from people and organisations.
</p>

<p>
  GOV.UK Forms is provided by the Government Digital Service (GDS) which is part
  of the Cabinet Office.
</p>

<p>
  Organisations that create online forms using GOV.UK Forms are the data
  controller of personal data they collect using those forms, whilst the Cabinet
  Office, through GDS, is the data processor. The data controller must tell you
  about what they are doing with your personal data.
</p>

<p>
  This privacy notice explains what personal data the Cabinet Office collects
  and processes as a data controller through the GOV.UK Forms website and
  platform.
</p>

<p>
  Read
  <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053"
    >the Cabinet Office’s entry in the Data Protection Public Register</a
  >
  for more information.
</p>

<h2 class="govuk-heading-m">Data we collect from you and what we do with it</h2>

<p>
  When you use the GOV.UK Forms service your device sends information such as
  your:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>IP address</li>
  <li>web browser and version number</li>
  <li>time zone and language settings</li>
</ul>
<p>We use this information to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>give you the information and web pages you request</li>
  <li>monitor the use of the site for security threats</li>
  <li>
    monitor the performance of the site to identify inefficiencies and
    JavaScript errors
  </li>
</ul>
<p>
  We collect this information in system logs. These logs are stored in Amazon Web
  Services in the UK.
</p>
<p>
  We move some of this information to our security and network monitoring tools
  in the USA which are provided by companies acting as our data
  processors.
</p>
<p>
  We may also use this information to produce anonymised reports about the
  GOV.UK Forms service. This helps us understand where we can make improvements.
  We may share this information with the data controller of the form.
</p>

<p>
  If you’re a public sector employee and you create a GOV.UK Forms account
  we’ll collect your:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>email address</li>
  <li>organisation</li>
</ul>

<p>
  We may share these details with people at your organisation involved in monitoring 
  access to specific technologies or in managing form creation or website publishing. 
  We do this to help manage access to GOV.UK Forms and to ensure that only legitimate 
  users have access.

</p>

<p>
  We use the supplier, Auth0, to authenticate your email address when you sign in
  to GOV.UK Forms. This involves us sharing your email address with Auth0 as a data
  processor. For more information you can <%= govuk_link_to "read about how Auth0 
  processes data", "https://auth0.com/docs/secure/data-privacy-and-compliance/data-processing" %>.
</p>

<p>
  We will send you updates about GOV.UK Forms, and may ask you to share your views 
  and experiences of using GOV.UK forms - for example, by responding to a survey.
</p>

<p>
  If you
  <%= govuk_link_to "subscribe to the GOV.UK Forms mailing list", mailing_list_path %>
  we’ll collect your:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>email address</li>
  <li>organisation</li>
  <li>job title</li>
</ul>

<p>
  We may use the Mailchimp platform to send these updates and requests. This involves us 
  sharing your email address with the platform provider, Intuit, as a data processor. 
</p>

<p>
  Intuit also collects some personal data via the Mailchimp platform as a data
  controller in their own right. For example, technical information about your
  device. For more information, you can read
  <a href="https://mailchimp.com/en-gb/legal/cookies/"
    >Mailchimp’s cookie statement</a
  >
  and the
  <a href="https://www.intuit.com/privacy/statement/"
    >Intuit privacy statement</a
  >.
</p>

<p>
  If you contact us about GOV.UK Forms we’ll collect your name, email address and any
  other personal information you choose to include in your message.
</p>

<p>The legal basis for processing this data is:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>it’s necessary to perform a task in the public interest</li>
  <li>it’s necessary in the exercise of our functions as a government department</li>
  <li>consent when you sign up to the GOV.UK Forms mailing list</li>
</ul>

<p>We will not:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>sell or rent your data to third parties</li>
  <li>share your data with third parties for marketing purposes</li>
</ul>

<p>
  We will share your data if we are required to do so by law – for example, by
  court order, or to prevent fraud or other crime.
</p>

<h2 class="govuk-heading-m">
  Performance analysis
</h2>

<p>
  We also carry out performance analysis to see how you use the GOV.UK
  Forms website and how well the site performs on your device during your
  visit — we do this to make sure it’s meeting the needs of its users and
  to improve it.
</p>

<p>If you provide your consent, we collect the following information:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your IP address</li>
  <li>the pages you visit on the GOV.UK Forms website</li>
  <li>how long you spend on each page</li>
  <li>how you got to the site</li>
  <li>what you click on while you’re visiting the site</li>
</ul>

<p>
  The legal basis for performing web analytics is your consent. You will be
  asked for your consent when first landing on this website. If you do not give
  your consent, you will still be able to use the page. If you do give it and
  change your mind, you can update your cookie settings.
</p>

<h2 class="govuk-heading-m">Cookies</h2>

<p>Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>

<p>We use cookies to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>collect information about how you use this website</li>
  <li>make GOV.UK Forms work</li>
</ul>

<p>
  For more information you can <a href="/cookies">read about the cookies we use</a>.
</p>

<h2 class="govuk-heading-m">How long we keep your data</h2>

<p>We will only keep your personal data for as long as:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the law requires us to</li>
  <li>we need it for the purposes listed above</li>
</ul>

<p>This means that we will only hold your personal data for one year.</p>

<p>
  If you consent to analytics cookies on the GOV.UK Forms website, your
  personal data will be retained for 14 months.
</p>

<p>
  If you have a GOV.UK Forms account, your personal data will be retained while
  you continue to have an active account.
</p>

<p>
  If you sign up to our mailing list, your personal data will only be retained
  while you choose to remain on the list.
</p>

<h2 class="govuk-heading-m">Where your data is processed and stored</h2>

<p>
  Your personal data may be transferred outside the United Kingdom while being
  processed by GDS. If this happens, we’ll make sure you’re given the same level
  of technical and legal protection as you are within the United Kingdom by
  relying on the UK Government’s data adequacy decisions or by including clauses
  in contracts that require the recipient to protect the data in accordance with
  UK standards.
</p>

<h2 class="govuk-heading-m">How we protect your data and keep it secure</h2>

<p>
  We are committed to doing all that we can to keep your data secure. To prevent
  unauthorised access or disclosure we have put in place technical and
  organisational procedures to secure the data we collect about you – for
  example, we protect your data using varying levels of encryption. We also make
  sure that any third parties that we deal with have an obligation to keep all
  personal data they process on our behalf secure.
</p>

<h2 class="govuk-heading-m">Children’s privacy protection</h2>

<p>
  We understand the importance of protecting children’s privacy online. Our
  services are not designed for, or intentionally targeted at, children 13 years
  of age or younger. It is not our policy to intentionally collect or maintain
  data about anyone under the age of 13.
</p>

<h2 class="govuk-heading-m">What are your rights</h2>

<p>You have the right to request:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>information about how your personal data is processed</li>
  <li>
    a copy of that personal data - this copy will be provided in a structured,
    commonly used and machine-readable format
  </li>
  <li>
    that anything inaccurate in your personal data is corrected immediately
  </li>
</ul>

<p>You can also:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>raise an objection about how your personal data is processed</li>
  <li>
    request that your personal data is erased if there is no longer a
    justification for it
  </li>
  <li>
    ask that the processing of your personal data is restricted in certain
    circumstances
  </li>
</ul>

<p>
  If you have any of these requests, get in contact with our Data Protection
  Officer - you can find their contact details below.
</p>

<h2 class="govuk-heading-m">Changes to this notice</h2>

<p>
  We may modify or amend this privacy notice at our discretion at any time. When
  we make changes to this notice, we will amend the last modified date at the
  top of this page. Any modification or amendment to this privacy notice will be
  applied to you and your data as of that revision date. We encourage you to
  periodically review this privacy notice to be informed about how we are
  protecting your data.
</p>

<h2 class="govuk-heading-m">Questions and complaints</h2>

<p>
  Contact
  <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk"
    >gds-privacy-office@digital.cabinet-office.gov.uk</a
  >
  if you either:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have questions about anything in this document</li>
  <li>think that your personal data has been misused or mishandled</li>
</ul>

<p>You can also contact the Cabinet Office Data Protection Officer.</p>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a>
  <br />
  Data Protection Officer
  <br />
  Cabinet Office
  <br />
  70 Whitehall
  <br />
  London SW1A 2AS
</p>

<p>
  If you have a complaint, you can also contact the
  <a rel="external" href="https://ico.org.uk/"
    >Information Commissioner’s Office</a
  >
  (ICO). The ICO is an independent regulator set up to uphold information
  rights.
</p>

<p>
  Information Commissioner’s Office
  <br />
  <a href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a>
  <br />
  0303 123 1113
  <br />
  Wycliffe House
  <br />
  Water Lane
  <br />
  Wilmslow
  <br />
  Cheshire SK9 5AF
</p>
