<% page_title("Page not found") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= "Page not found" %></h1>
    <%= simple_format("If you typed the web address, check it is correct.\n\nIf you pasted the web address, check you copied the entire address.") %>
  </div>
</div>
