---
title: Accessibility statement for GOV.UK Forms
layout: govuk
---

<h1 class="govuk-heading-xl">Accessibility statement for GOV.UK Forms</h1>

<p>The Government Digital Service (GDS) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

<p>This accessibility statement applies to the <a href="https://www.forms.service.gov.uk/">GOV.UK Forms website</a>. There’s a separate <a href="https://www.gov.uk/help/accessibility-statement">accessibility statement for the main GOV.UK website</a>.</p>

<p>This website is run by GDS. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>zoom in up to 300% without problems</li>
  <li>navigate most of the website using just a keyboard</li>
  <li>navigate most of the website using speech recognition software</li>
  <li>use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>

<h2 class="govuk-heading-m">Compliance status</h2>

<p>GDS tested the GOV.UK Forms website on <time datetime="2022-06-08">8 June 2022</time>.</p>

<p>This website is fully compliant with the Web Content Accessibility Guidelines (WCAG) version 2.1 AA standard.</p>


<h2 class="govuk-heading-m">Feedback and contact information</h2>

<p>We’re always looking to improve the accessibility of this website.</p>

<p>If you find any problems, or think we’re not meeting accessibility requirements, email <a href="mailto:govuk-forms@digital.cabinet-office.gov.uk">govuk-forms@digital.cabinet-office.gov.uk</a>.</p>


<h2 class="govuk-heading-m">Enforcement procedure</h2>

<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>

<p>If you’re not happy with how we respond to your complaint, contact the <a rel="external" href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service</a>, which is run on behalf of EHRC.</p>


<h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

<p>This statement was prepared on <time datetime="2022-06-08">8 June 2022</time>. It was last reviewed on <time datetime="2022-06-08">8 June 2022</time>.</p>

<p>This website was last tested on 8 June 2022. The test was carried out by GDS.</p>

