---
title: Accessibility statement for GOV.UK Forms
layout: govuk
---

<h1 class="govuk-heading-xl">Accessibility statement for GOV.UK Forms</h1>
<p>This accessibility statement only contains information about the <a href="https://www.forms.service.gov.uk/">GOV.UK Forms website</a>.</p>
<p class="govuk-inset-text">GOV.UK Forms is part of the wider GOV.UK website. There's a separate <a href="https://www.gov.uk/help/accessibility-statement">accessibility statement for the main GOV.UK website</a>.</p>
<p>This accessibility statement explains:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>how accessible the website is</li>
  <li>what work we’re planning to do</li>
  <li>what to do if you have difficulty using it</li>
  <li>how to report any accessibility problems</li>
</ul>

<p>This website was created by the Government Digital Service (GDS). It is designed to be used by as many people as possible.</p>

<p>The text should be clear and simple to understand.</p>

<p>You should be able to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>zoom in up to 300% without problems</li>
  <li>navigate most of the website using just a keyboard</li>
  <li>navigate most of the website using speech recognition software</li>
  <li>use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>

<h2 class="govuk-heading-m">What this website should do</h2>

<p>This website was created by the Government Digital Service (GDS). It is designed to be used by as many people as possible.</p>

<p>The text should be clear and simple to understand.</p>

<p>You should be able to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>zoom in up to 300% without problems</li>
  <li>navigate most of the website using just a keyboard</li>
  <li>navigate most of the website using speech recognition software</li>
  <li>use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>

<h2 class="govuk-heading-m">How accessible this website is</h2>
<p>
  We know some parts of this website are not fully accessible:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>insert list of issues here</li>
</ul>

<h2 class="govuk-heading-m">How we tested this website</h2>

<p>The GOV.UK Forms website was last tested on <time datetime="2022-01-01">xxxx 2022</time>. The test was carried out by GDS.</p>

<p>GDS assessed the GOV.UK Forms website against the Web Content Accessibility Guidelines WCAG 2.1.</p>

<h2 class="govuk-heading-m">What to do if you have difficulty using this website</h2>

<p>If you have difficulty using this website, contact us by sending an email to <a href="mailto:govuk-forms@digital.cabinet-office.gov.uk">govuk-forms@digital.cabinet-office.gov.uk</a>.</p>

<h2 class="govuk-heading-m">Reporting accessibility problems</h2>

<p>We’re always looking to improve the accessibility of this website.</p>

<p>If you find any problems, or think we’re not meeting accessibility requirements, email <a href="mailto:govuk-forms@digital.cabinet-office.gov.uk">govuk-forms@digital.cabinet-office.gov.uk</a>.</p>

<h2 class="govuk-heading-m">If you’re not happy with our response</h2>

<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>

<p>If you are not happy with how we respond to your complaint, contact the <a rel="external" href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service</a>, which is run on behalf of EHRC.</p>

<h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>

<p>GDS is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

<h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

<p>This statement was prepared on <time datetime="2022-01-01">xxxx 2022</time>.</p>

