---
title: "Cookies"
layout: govuk
---

<%# Don't show the cookie banner on this page %>
<% content_for :cookie_banner do %>
  <!-- no cookie banner -->
<% end %>

<div class="app-cookies-page" data-module="app-cookies-page">
  <div
    class="govuk-notification-banner govuk-notification-banner--success js-cookies-page-success"
    role="alert"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner"
    hidden=""
  >
    <div class="govuk-notification-banner__header">
      <h2
        class="govuk-notification-banner__title"
        id="govuk-notification-banner-title"
      >
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        You’ve set your cookie preferences.
      </p>
    </div>
  </div>
<h1 class="govuk-heading-xl">Cookies</h1>
<p>
  Cookies are small files saved on your phone, tablet or computer when you visit
  a website.
</p>

<p>We use cookies to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>collect information about how you use this website</li>
  <li>make GOV.UK Forms work</li>
</ul>

<p>Our mailing list supplier also uses cookies on the sign up page for our mailing list.</p>

<p>Find out <a href="https://ico.org.uk/your-data-matters/online/cookies/">how to manage cookies</a>.</p>

<h2 class="govuk-heading-l">Essential cookies on this website</h2>

<p>We use an essential cookie to remember when you accept or reject cookies on this website.</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Purpose</th>
      <th scope="col" class="govuk-table__header">Expires</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">analytics_consent</th>
      <td class="govuk-table__cell">Saves your cookie consent settings</td>
      <td class="govuk-table__cell">1 year</td>
    </tr>
  </tbody>
</table>


<h2 class="govuk-heading-l">Analytics cookies on this website (optional)</h2>
<p>We use Google Analytics software to understand how people use the GOV.UK Forms website. This information helps us to improve our service.</p>
<p>Google is not allowed to use or share our analytics data with anyone.</p>
<p>Google Analytics stores anonymised information about:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the pages you visit</li>
  <li>how long you spend on each page</li>
  <li>how you arrived at the site</li>
  <li>what you click on while you visit the site</li>
  <li>the device and browser you use</li>
</ul>

<table class="govuk-table">
  <caption class="govuk-table__caption">
    Analytics cookies we use
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Purpose</th>
      <th scope="col" class="govuk-table__header">Expires</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">_ga</th>
      <td class="govuk-table__cell">
        Helps us count how many people visit the GOV.UK Forms website by
        telling us if you’ve visited before.
      </td>
      <td class="govuk-table__cell">2 years</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">_gid</th>
      <td class="govuk-table__cell">
        Helps us count how many people visit the GOV.UK Forms website by
        telling us if you’ve visited before.
      </td>
      <td class="govuk-table__cell">24 hours</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        _gat_UA-[random number]
      </th>
      <td class="govuk-table__cell">
        Used to reduce the number of requests.
      </td>
      <td class="govuk-table__cell">1 minute</td>
    </tr>
  </tbody>
</table>

<form class="js-cookies-page-form">
  <div class="govuk-form-group">
    <fieldset
      class="govuk-fieldset js-cookies-page-form-fieldset"
      id="analytics"
      hidden=""
      >
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Do you want to accept analytics cookies?
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="radio-analytics"
            name="analytics"
            type="radio"
            value="yes"
            />
          <label
            class="govuk-label govuk-radios__label"
            for="radio-analytics"
            >
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="radio-analytics-2"
            name="analytics"
            type="radio"
            value="no"
            />
          <label
            class="govuk-label govuk-radios__label"
            for="radio-analytics-2"
            >
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <button
    class="govuk-button js-cookies-form-button"
    data-module="govuk-button"
    hidden=""
    >
    Save cookie settings
  </button>
</form>

<h2 class="govuk-heading-l">Cookies on our mailing list sign up page</h2>

<p>
  We use the Mailchimp platform to send email updates to people who register
  interest in using GOV.UK Forms. Mailchimp uses cookies on the sign up page for
  the mailing list. For more information you can read the
  <a href="https://mailchimp.com/en-gb/legal/cookies"
    >Mailchimp cookie statement</a
  >.
</p>

<h2 class="govuk-heading-l">Essential cookies on the GOV.UK Forms product</h2>
<p>We use essential cookies to make the GOV.UK Forms product work.</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Purpose</th>
      <th class="govuk-table__header">Expires</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">_forms_admin_session</td>
      <td class="govuk-table__cell">Used to keep you signed in</td>
      <td class="govuk-table__cell">
        When the browser is closed or after 20 hours
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">_forms</td>
      <td class="govuk-table__cell">
        Used to remember your progress when previewing the form
      </td>
      <td class="govuk-table__cell">
        When the browser is closed or after 20 hours
      </td>
    </tr>
  </tbody>
</table>



</div>
