---
title: "How GOV.UK Forms works"
description: "The process for creating a form, the features already available and the features we are working on next."
layout: govuk
---

<h1 class="govuk-heading-xl">How GOV.UK Forms works</h1>
