---
title: "How GOV.UK Forms works"
description: "The process for creating a form, the features already available and the features we are working on next."
layout: govuk
---

<h1 class="govuk-heading-xl">How GOV.UK Forms works</h1>
<p>
  GOV.UK Forms is a new platform that makes it easy to create accessible online
  forms for GOV.UK. It is currently in development with selected government
  partners.
</p>

<p class="govuk-inset-text">
  If you’re interested in using GOV.UK Forms, you can
  <a
    href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1"
    >register to get a notification when it's available</a
  >
  for all of central government.
</p>

<h2 class="govuk-heading-l">Creating a form using GOV.UK Forms</h2>

<p>
  You need to be given access to GOV.UK Forms to use it. In this early stage of
  development, we’re only working with a limited number of government teams.
</p>

<p>This is the process of creating a form using GOV.UK Forms.</p>

<ol class="govuk-list govuk-list--number">
  <li>Create a form and give the form a name.</li>
  <li>Add questions to your form to collect the information you need.</li>
  <li>
    Provide privacy information, the email address you want completed forms to
    be sent to, and details about what will happen after a form is submitted.
  </li>
  <li>Make the form live.</li>
  <li>
    Publish a link to the form on GOV.UK along with any guidance people need to
    read before they complete the form.
  </li>
  <li>
    When people complete and submit the form, the information they enter will be
    sent in the body of an email to the email address you specified.
  </li>
</ol>

<h2 class="govuk-heading-l">Features available now</h2>
<p>
  During this early phase of development, we are focusing on the simplest and
  most commonly needed form features first.
</p>

<h3 class="govuk-heading-m">Create simple custom questions</h3>

<p>You can create custom questions to ask for:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a single line of text</li>
  <li>a date</li>
  <li>a UK address</li>
  <li>a National Insurance number</li>
  <li>a phone number</li>
  <li>an email address</li>
</ul>

<p>
  When people complete the form, their responses will be validated to make sure
  they’re in the correct format. You can also add a hint to a question to help
  people answer it.
</p>

<h3 class="govuk-heading-m">
  Forms use GOV.UK Design System styles, components and patterns
</h3>

<p>
  Using these tested and accessible designs means you do not have to worry about
  the visual and interface design of your forms. And they’ll automatically look
  consistent with GOV.UK.
</p>

<h3 class="govuk-heading-m">Provide privacy information</h3>

<p>
  To comply with the UK General Data Protection Regulation (UK GDPR), you’ll
  need to provide a link to privacy information for the people who will enter
  their data into your form.
</p>

<p>
  The privacy information needs to include your purposes for collecting the
  data, and how you will manage the data. You may already publish this
  information, for example in a privacy notice or personal information charter.
</p>

<p>
  A link to the privacy information will be added to the footer of your form.
</p>

<h3 class="govuk-heading-m">Set the email address for completed forms</h3>

<p>
  Each form needs an email address to be set for completed forms to be sent to
  when they’re submitted. Data from completed forms will be sent to this email
  address in the body of an email.
</p>

<h3 class="govuk-heading-m">
  People can check their answers before they submit a form
</h3>

<p>
  People will be shown a summary page when they have answered all the questions
  in a form. They will be able to review and check their answers before they
  submit the form. This will help to avoid errors or missing information.
</p>

<h3 class="govuk-heading-m">Tell people what will happen next</h3>

<p>
  Content you add about what will happen after the form is submitted will be
  shown on a confirmation page when someone submits a form. This will help to
  set their expectations and avoid unnecessary contact.
</p>

<h3 class="govuk-heading-m">
  Provide contact information for people to get help
</h3>

<p>
  You must provide at least one way for people to get help if they get stuck
  while filling in your form. It can be an email address, phone number or a link
  to online help.
</p>

<p>
  The contact information will be displayed at the bottom of every page of the
  form. This will help people to use your form successfully, and will let you
  know if there are any problems with your form.
</p>

<h2 class="govuk-heading-l">Features we’re working on next</h2>

<p>These are the features we’re working on now and next:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    Adding a declaration for people to agree to when they submit their responses
    - this can be used in place of a signature
  </li>
  <li>Optional questions</li>
  <li>Simple logic to skip questions based on a response</li>
  <li>Templates of commonly asked questions</li>
  <li>Asking for a selection of one or more options from a list</li>
  <li>Asking for multiple lines of text</li>
  <li>Accepting multiple responses to a question or group of questions</li>
  <li>Allowing files to be uploaded</li>
  <li>
    Allowing people to save their progress and return later to complete a form
  </li>
  <li>Requiring a GOV.UK Pay payment before a form can be submitted</li>
</ul>

<h2 class="govuk-heading-l">Updates</h2>

<p>
  As we’re still in an early stage of development, our plans may change. We’ll
  update this page when this happens and add more detail when we can.
</p>

<p>
  You can
  <a
    href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&amp;id=451fe4c1e1"
    >join our mailing list to get updates</a
  >.
</p>
