---
title: "Support"
description: "How to get support for GOV.UK Forms - a new platform for people who work in government to create online forms for GOV.UK"
layout: govuk
---

<h1 class="govuk-heading-xl">Support</h1>
<p>
  GOV.UK Forms is a new platform for people who work in government to create online forms for GOV.UK.
</p>

<p class="govuk-inset-text">
  GOV.UK Forms does not provide support for individual members of the public about government forms. If you are a member of the public experiencing difficulties with a government form, please <a href="https://www.gov.uk/contact">contact that service directly</a>.
</p>

<h2 class="govuk-heading-m">How to get support for GOV.UK Forms</h2>

<p>
  If you have a question about GOV.UK Forms you can contact us at <a href="mailto:govuk-forms@digital.cabinet-office.gov.uk">govuk-forms@digital.cabinet-office.gov.uk</a>.
</p>

<h2 class="govuk-heading-m">Office hours</h2>

<p>
  We provide support for GOV.UK Forms during office hours.
</p>

<p>
  Our office hours are 9:00am to 5:00pm on weekdays, except bank holidays.
</p>

<h2 class="govuk-heading-m">Out-of-hours support</h2>

<p>
  While GOV.UK Forms is in private beta, we don’t provide support for problems outside of our office hours.
</p>
