# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.

name: "Tests"

on:
  push:
    branches: [main, main-rails]
  pull_request:
    branches: [main, main-rails]
  merge_group:
    types: [checks_requested]
permissions:
  contents: read
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: "test"
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      # Add or replace dependency steps here
      - name: Install Ruby and gems
        # The ruby version is taken from the .ruby-version file, no need to specify here.
        uses: ruby/setup-ruby@ab177d40ee5483edb974554986f56b33477e21d0 # v1.265.0
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
      - name: Install frontend dependencies
        run: npm ci
      - name: Run Frontend build
        run: bin/vite build
      # Add or replace test runners here
      - name: Run Ruby tests
        run: bundle exec rspec
      - name: Run JavaScript tests
        run: npm test
      # Add or replace any other lints here
      - name: Security audit dependencies
        run: bundle exec bundle-audit check --update
      - name: Security audit application code
        run: bundle exec brakeman -q -w2
      - name: Lint Ruby files
        run: bundle exec rubocop --parallel
      - name: Lint Javascript files
        run: npm run lint
