<% content_for :main do %>
  <main
    class="govuk-main-wrapper--auto-spacing"
    id="main-content"
    role="main"
    >
    <%= yield %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
