<% content_for :main do %>
  <div class="hero-breadcrumb-banner">
    <div class="hero hero--breaded">
      <div class="govuk-breadcrumbs breadcrumbs-hero">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a
              class="govuk-breadcrumbs__link"
              href="https://www.gov.uk/service-toolkit#gov-uk-services"
              >GOV.UK services</a
            >
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a
              class="govuk-breadcrumbs__link"
              href="#main-content"
              aria-current="page"
              >GOV.UK&nbsp;Forms</a
            >
          </li>
        </ol>
      </div>
    </div>
  </div>
  <main
    class="govuk-main-wrapper--auto-spacing"
    id="main-content"
    role="main"
    >
    <%= yield %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
