<div class="app-metrics">
    <div class="app-metrics__container">
      <div class="app-metrics__big-number">
        <span class="app-metrics__big-number-number"><%= number %></span>
        <%= label %>
      </div>
    </div>
</div>
